// Color palette 
$page-background :#f5f5f5;
$header-background: #111111;
$header-nav: #533bdd;
$table-background-white :#fff;
$table-border: #e0dfdf;
$select-option-black: #000;
$black-screen-background: #00000099;
$modal-title: #3a3aa5;
$create-ticket: #9e9eff;
$popup-success: #07bc0c;

// Layout
$layoutPadding: 20px;